@import "~taro-ui/dist/style/components/toast.scss";
@import "~taro-ui/dist/style/components/indexes.scss";
@import "~taro-ui/dist/style/components/list.scss";

@import "~taro-ui/dist/style/components/checkbox.scss";
@import "~taro-ui/dist/style/components/icon.scss";


.contact-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // padding: 0 32px;

  .contact-input-name {
    flex: none;
    background: #fff;
    padding: 0 32px;

    .at-input {
      margin: 0;

      &::after {
        content: none;
      }

      input {
        padding-left: 44px;
        border-radius: 64px;
        background: #F7F7F7;
        height: 64px;
        line-height: 64px;

        .placeholder-class {
          font-size: 30px;
          color: #909399;
        }
      }
    }
  }

  .contact-all-name {
    flex: none;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0 32px;
    background: #fff;

    .at-checkbox__option {
      padding-left: 0;
    }

    .contact-all-name-title {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 28px;
      color: #909399;
    }
  }

  .contact-list-name {
    flex: auto;
    overflow: hidden;
    padding: 0 4px 0 32px;

    &-scroll_view {
      // & ::-webkit-scrollbar {
      //   width: 0;
      //   height: 0;
      //   background-color: transparent;
      // }
    }

    .contact-item-name {
      .contact-item-title {
        height: 64px;
        line-height: 64px;
        font-size: 32px;
        color: #909399;
      }

      .at-checkbox {
        background: transparent;

        .at-checkbox__option {
          padding-left: 0;
        }
      }
    }
  }

  .contact-leter-btn {
    flex: none;
    padding: 0 32px 50px;
  }
}


.at-checkbox::before {
  content: none !important;
}

.at-checkbox::after {
  content: none !important;
}


.at-checkbox__option::before {
  content: none !important;
}

.at-checkbox__option::after {
  content: none !important;
}


.at-checkbox__option-wrap::before {
  content: none !important;
}

.at-checkbox__option-wrap::after {
  content: none !important;
}
