.center {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  flex-direction: 'column';
}

.index-main {
  @extend .center;
  width: 750px;
  height: 100%;
  background: #E9E9E9;
  overflow: hidden;
}

.appointment-button {
  @extend .center;
  background-image: linear-gradient(270deg, #3270FE 0%, #4097FF 100%);
  border-radius: 8px;
  color: #fff;
  width: 650px;
  height: 84px;
  margin: 100px auto 48px;
  text-align: center;
  line-height: 84px;
}

.bg-fff {
  background-color: #fff;
  overflow: hidden;
}

.user-wrapper {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-left: 32px;
}

.user-img {
  width: 88px;
  height: 88px;
  margin-right: 22px;
}

.lastest-meeting {
  margin-top: 16px;
  box-sizing: border-box;
  padding: 32px;

  &-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
  }

  &-title {
    font-size: 32px;
    color: #303133;
    font-weight: bold;
  }

  &-more {
    font-size: 24px;
    color: #303133;
    display: flex;
    align-items: center;
  }

  &-more-icon {
    color: #303133;
    width: 16px;
    height: 20px;
    margin-left: 8px;
  }
}
