.footer-view {
  width: 100%;
  position: fixed;
  bottom: 32px;

  &-btn {
    margin: 32px 50px;
    background-color: #3476FE;
  }
}

.default-btn {
  background-color: #909399;
  border-color: #909399;
}
