page {
  background-color: #f6f6f6;
}

.mb-15 {
  margin-bottom: 16px;
}

.house-class {
  margin-bottom: 16px;
}

.time-class {
  margin-top: -16px;
}

.meeting-input {
  text-align: right;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: 0;

  .at-input__input {
    padding-right: 0;
    color: #606266;

    .input-placeholder {
      color: #606266;
    }
  }

  .at-input--disabled {
    opacity: 1;
  }

}

.icon-arrow-right {
  width: 32px;
  margin-left: 24px;
  margin-right: -6px;
  height: 32px;
  line-height: 32px;
  padding: 0 !important;
}

.route-input {
  .at-input__children {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
  }

  .at-input__children::after {
    border-left-width: 0px;
  }

  .go-next-route {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 30px;
    padding: 0;
    align-items: center;

    &-text {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: right;
      color: #606266;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .icon-arrow-right {
    color: #C0C4CC;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .at-input--disabled {
    .icon-arrow-right {
      display: none;
    }
  }

}

.remind-picker {
  position: relative;
  margin-top: -2px;

  .at-list {
    .at-list__item {
      background-color: #fff;
      padding: 30px 32px;
      box-sizing: content-box;

      &-container {
        min-height: 44px;
      }

      .at-list__item-extra {
        display: flex;

        .item-extra__info {
          color: #606266;
          padding-right: 48px;
        }
      }

    }
  }

  .icon-arrow-right {
    color: #C0C4CC;
    align-items: center;
    padding-left: 10px;
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
  }
}

.remind-picker-disabled {
  .at-list {
    .at-list__item {
      .item-extra__info {
        padding-right: 0 !important;
      }
    }
  }

  .icon-arrow-right {
    display: none;
  }
}
