.lette-list {
  position: fixed;
  top: 53%;
  right: 32px;
  overflow: hidden;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
  z-index: 805;
  
  .lette-list-item {
    text-align: center;
    font-size: 24px;
    color: #3476FE;
  }
}